# Builds every branch other than main, so that any change pushed to GitHub in a feature branch can be built and tested
name: Build branch

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches-ignore:
      - main

jobs:
  build_branch:
    uses: xemantic/.github/.github/workflows/build-gradle.yml@main
    with:
      gradle_args: build
      env: |
        ANTHROPIC_API_KEY=${{ secrets.ANTHROPIC_API_KEY }}
    secrets: inherit