# Builds every branch other than main, so that any change pushed to GitHub in a feature branch can be built and tested
name: Build branch

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches-ignore:
      - main

jobs:
  build_branch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6.0.1

      - name: Setup Java
        uses: actions/setup-java@v5.1.0
        with:
          distribution: ${{ vars.DEFAULT_JAVA_DISTRIBUTION }}
          java-version: ${{ vars.DEFAULT_JAVA_VERSION }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.0

      - name: Build
        run: ./gradlew build
        env:
          ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
